* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100vw;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  color: aliceblue;
  background: black;
  /* background: linear-gradient(to left, teal, chocolate); */
}
h1,
select,
p {
  margin: 10px 0 20px 0;
}
p {
  text-align: center;
  animation: scale 1s linear 3;
}
@keyframes scale {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.box {
  border: 1px solid black;
  border: 2px solid aliceblue;
  width: 80vw;
  min-height: 70vh;
  max-height: fit-content;

  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Tahoma, sans-serif;
  padding: 0 10px;
  overflow: hidden;
  position: relative;
}
.boxes {
  position: absolute;
  width: 200px;
  background-color: rgb(219, 119, 37);
  height: 200px;
  transform: rotate(45deg);
}
.b1 {
  top: -100px;
  right: -100px;
}
.b2 {
  top: -100px;
  left: -100px;
}
.b3 {
  left: -100px;
  bottom: -100px;
}
.b4 {
  right: -100px;
  bottom: -100px;
}
@media (max-width: 750px) {
  .b1 {
    top: -150px;
    right: -100px;
  }
  .b2 {
    top: -150px;
    left: -100px;
  }
  .b3 {
    left: -100px;
    bottom: -150px;
  }
  .b4 {
    right: -100px;
    bottom: -150px;
  }
  .quote,
  .author {
    font-size: clamp(1vw, 14px, 3vw);
  }
}
.btn {
  position: absolute;
  bottom: 50px;
  padding: 6px 10px;
  border: 1px solid aliceblue;
  cursor: pointer;
  color: aliceblue;
  background: #000;
  border-radius: 8px;
  transition: all 0.3s linear;
}
.btn:hover {
  background: white;
  color: #000;
  font-weight: bolder;
}
.author {
  margin-left: 30vw;
  font-family: cursive;
}
.author,
.quote {
  text-shadow: 2px 2px 3px rgb(219, 119, 37);
}
select {
  border-radius: 12px;
  margin: 0 20vw 5vh;
  padding: 4px;

  border: 2px solid chocolate;
  outline: none;
}
h5 {
  position: absolute;
  right: 5vw;
  bottom: 10vh;
  color: coral;
}
